@font-face{
    font-family: Nunito;
    src:url(src/fonts/Nunito-VariableFont_wght.ttf);
}

:root {
   --lightGray: #d3d3d3;
   --backgroundGray: #2e323a;
   --darkGray: #242526;
   --codeEditorGray: #262930;
   --darkPurple: #150324;
   --darkDarkPurple: #0c0214;
   --lightLightBlue: #b6c7da;
   --seaGreen: #64bfb6;
   --lightLightRed: #ed6a5e;
   --lightRed: #c2453b;
   --lightYellow: #c5c598;
   --lightBlue: #60b7d5;
   --lightPurple: #bc94d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* prevents horizontal scrolling */
    overflow-y: auto;
    scroll-behavior: smooth;
    background: repeating-linear-gradient(-45deg, var(--backgroundGray) 0rem, var(--codeEditorGray) 0.3rem, var(--backgroundGray) 0.3rem, var(--codeEditorGray) 0.8rem);
}

#introWrapper {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
}

header {
    background-color: var(--codeEditorGray);
    height: fit-content;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    z-index: 99;

    border-bottom-style: solid;
    border-bottom-color: var(--lightGray);
    border-bottom-width: 0.1rem;

    transform: translateY(0%);
    transition: 0s ease-in;

}

.headerName {

    /* dimensions */
    font-size: 4rem;

    /* positioning */
    padding-left: 1rem;

    /* appearance */
    font-family: Nunito;
    font-weight: bold;
    color: var(--lightGray);
    transition: .5s ease-in-out;

    user-select: none;
}
.headerName:hover {
    transform: scale(1.01);
}

.buttonGroup button {

    /* dimensions */
    width: 4.5rem;
    height: 4.5rem;

    /* positioning */
    justify-content: space-between;
    margin: 0;

    /* appearance toggles */
    border: none;
    background: none;
    background-size: contain;
    transition: .5s ease-in-out;
}
.buttonGroup button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.buttonGroup a {
    display: inline-block;
}

/* the icon for the mail button isn't a square, so adjustments are needed to fit in with the other header buttons */
#mailButton {
    height: 5.5rem;
    width: 5.5rem;
}

#menuButton {
    transition: ease-in-out 0.5s;
}
#menuButton.active {
    transform: rotate(45deg);
}

.hiddenMenu {
    background-color: var(--codeEditorGray);

    /* dimensions */
    width: 15rem;
    height: 15rem;

    /* positioning + visibility */
    position: absolute;
    margin-top: 20%;
    right: 2rem;

    visibility: hidden;
    opacity: 0;
    z-index: 99;

    /* appearance toggles */
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);
    font-family: Nunito;
    transition: ease-in-out 0.2s;
}
.hiddenMenu.active {
    visibility: visible;
    opacity: 1;
}

#menuCloseButton {
    /* dimensions */
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1/1;

    /* positioning */
    position: absolute;
    right: 1rem;
    top: 1rem;

    /* appearance toggles */
    border-radius: 100%;
    border: 0.1rem solid var(--lightRed);
    background-color: var(--lightLightRed);
    color: inherit;
    background-size: cover;
    transition: 0.5s ease-in-out;
}
#menuCloseButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#personalPicture {

    /* dimensions */
    max-width: 20rem;


    /* positioning */
    margin: 2rem;

    /* appearance toggles */
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);
    transition: ease-in-out 0.5s;
}
#personalPicture:hover {
    transform: scale(1.01);
}

.titleBox {

    /* dimensions */
    max-width: fit-content;
    padding: 1rem;

    /* positioning */
    margin: 2rem;
    margin-inline: auto;

    /* appearance toggles */
    background-color: var(--codeEditorGray);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);
    font-family: Nunito;
    color: var(--lightLightBlue);
    text-align: center;
    transition: ease-in-out 0.5s;
    user-select: none;
}
.titleBox:hover {
    transform: scale(1.01);
}

.textBox {

    /* dimensions */
    min-width: fit-content;
    max-width: 45rem;
    padding: 1rem;

    /* positioning */
    margin: 2rem;

    /* appearance toggles */
    background-color: var(--codeEditorGray);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);
    font-family: Nunito;
    font-size: 1.25rem;
    color: var(--lightLightBlue);
    text-align: center;
    transition: ease-in-out 0.5s;
    user-select: none;

}
.textBox:hover {
    transform: scale(1.01);
}

mark {
    background: none;
    font-weight: bold;
}
mark.green {
    color: var(--seaGreen);
}
mark.yellow {
    color: var(--lightYellow);
}
mark.blue {
    color: var(--lightBlue);
}
mark.purple {
    color: var(--lightPurple);
}
mark.greenBoldUnderlined {
    color: var(--seaGreen);
    font-weight: bold;
    text-decoration: 0.1rem underline;
}

.arrow {
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    text-align: center;

}
.arrow button {
    background-size: contain;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    transition: ease-in-out 0.5s;
    animation-name: idleAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.arrow button:hover {
    cursor: pointer;
}

@keyframes idleAnimation {
    0% { transform: translate(0, 0); }
    50% {transform: translate(0, 0.5rem); }
    100% {transform: translate(0, -0); }

}

#aboutMeWrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#misoPicture {
    /* dimensions */
    max-width: 20rem;

    /* positioning */
    margin: 2rem;

    /* appearance toggles */
    transition: ease-in-out 0.5s;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);
}
#misoPicture:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#resumeContainer {
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    text-align: center;
}

#resumeButton {
    width: 15rem;
    height: 5rem;

    background-color: var(--codeEditorGray);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);

    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--lightLightBlue);
    transition: ease-in-out 0.5s;
}
#resumeButton:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#projectsWrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projectBoxes {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    height: 20rem;
    width: 25%;
    margin: 2rem;
    background-color: var(--codeEditorGray);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lightGray);
    display: inline-block;
    transition: ease-in-out 0.5s;
}
.project:hover {
    transform: scale(1.01);
}

footer {
    position: relative;
    height: fit-content;

    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    margin-top: 3rem;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--codeEditorGray);
    border-top: 0.1rem solid var(--lightGray);
    font-family: Nunito;
}

.footerButtons button {
    width: 4.5rem;
    height: 4.5rem;
}

.textBoxNoBackground {
    /* dimensions */
    min-width: fit-content;
    max-width: 15rem;
    padding: 1rem;

    /* positioning */
    margin-right: 2rem;

    /* appearance toggles */
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--lightLightBlue);
    text-align: center;
    transition: ease-in-out 0.5s;
    user-select: none;
}

#rightHalfFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}