@font-face{
    font-family: Nunito;
    src:url(src/fonts/Nunito-VariableFont_wght.ttf);
}

:root {
    /* background1 and 2 are defined separately so they can be changed for light mode */
    --background1: #2e323a;
    --background2:  #262930;

    --backgroundGray: #2e323a;
    --codeEditorGray: #262930;
    --lightLightBlue: #b6c7da;
    --seaGreen: #64bfb6;
    --darkSeaGreen: #355f5a;
    --lightLightRed: #ed6a5e;
    --lightRed: #c2453b;
    --lightYellow: #c5c598;
    --lightBlue: #60b7d5;
    --blue: #85dbf8 ;
    --lightPurple: #bc94d6;
    --lightLightPurple: #d1b7e2;
    --darkPurple: #5a406c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* prevents horizontal scrolling */
    overflow-y: auto;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background: repeating-linear-gradient(-45deg, var(--background1) 0rem, var(--background2) 0.3rem, var(--background1) 0.3rem, var(--background2) 0.8rem);
}

img {
    border: 0.25rem solid var(--backgroundGray);
}

#introWrapper {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
}

header {
    background-color: var(--codeEditorGray);
    height: fit-content;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    z-index: 99;

    transform: translateY(0%);
    transition: 0s ease-in;

}

.headerName {

    /* dimensions */
    font-size: 4rem;

    /* positioning */
    padding-left: 1rem;

    /* appearance */
    font-family: Nunito;
    font-weight: bold;
    transition: .5s ease-in-out;
}
.headerName:hover {
    transform: scale(1.01);
}

.buttonGroup button {

    /* dimensions */
    width: 4.5rem;
    height: 4.5rem;

    /* positioning */
    justify-content: space-between;
    margin: 0;

    /* appearance toggles */
    border: none;
    background: none;
    background-size: contain;
    transition: .5s ease-in-out;
}
.buttonGroup button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.buttonGroup a {
    display: inline-block;
}

/* the icon for the mail button isn't a square, so adjustments are needed to fit in with the other header buttons */
#mailButton {
    height: 5.5rem;
    width: 5.5rem;
}

#themeButton {
    rotate: 90deg;
    transition: ease-in-out 0.5s;
}
#themeButton.light {
    transform: rotate(180deg);
}

#personalPicture {

    /* dimensions */
    max-width: 20rem;


    /* positioning */
    margin: 2rem;

    /* appearance toggles */
    border-radius: 0.5rem;
    transition: ease-in-out 0.5s;
}
#personalPicture:hover {
    transform: scale(1.01);
}

.titleBox {

    /* dimensions */
    max-width: fit-content;
    padding: 1rem;

    /* positioning */
    margin: 2rem;
    margin-inline: auto;

    /* appearance toggles */
    background-color: var(--codeEditorGray);
    border-radius: 0.5rem;
    font-family: Nunito;
    color: var(--lightLightBlue);
    text-align: center;
    transition: ease-in-out 0.5s;
}
.titleBox:hover {
    transform: scale(1.01);
}

.textBox {

    /* dimensions */
    min-width: fit-content;
    max-width: 45rem;
    padding: 1rem;

    /* positioning */
    margin: 2rem;

    /* appearance toggles */
    background-color: var(--codeEditorGray);
    border-radius: 0.5rem;
    font-family: Nunito;
    font-size: 1.25rem;
    color: var(--lightLightBlue);
    text-align: center;
    transition: ease-in-out 0.5s;

}
.textBox:hover {
    transform: scale(1.01);
}
.textBox a {
    color: var(--lightBlue);
    font-weight: bold;
    text-decoration: none;
}
.textBox a:hover {
    color: var(--blue);
}

mark {
    background: none;
    font-weight: bold;
}
mark.green {
    color: var(--seaGreen);
}
mark.yellow {
    color: var(--lightYellow);
}
mark.blue {
    color: var(--lightBlue);
}
mark.purple {
    color: var(--lightPurple);
}
mark.greenBoldUnderlined {
    color: var(--seaGreen);
    font-weight: bold;
    text-decoration: 0.1rem underline;
}

.arrow {
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    text-align: center;

}
.arrow button {
    background-size: contain;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    transition: ease-in-out 0.5s;
    animation-name: idleAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.arrow button:hover {
    cursor: pointer;
}

@keyframes idleAnimation {
    0% { transform: translate(0, 0); }
    50% {transform: translate(0, 0.5rem); }
    100% {transform: translate(0, -0); }

}

#aboutMeWrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#misoContainer {
    /* dimensions */
    position: relative;
    width: 20rem;
    height: 26rem; /* strange number is to preserve original aspect ratio */

    /* positioning */
    margin: 2rem;

    /* appearance toggles */
    transition: ease-in-out 0.5s;
    opacity: 1;
}
#misoContainer:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#misoContainer img {
    transition: opacity 2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

#resumeContainer {
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    text-align: center;
}

#resumeButton {
    width: 15rem;
    height: 5rem;

    background-color: var(--darkSeaGreen);
    border-radius: 0.5rem;
    border: none;

    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--seaGreen);
    transition: ease-in-out 0.5s;
}
#resumeButton:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#projectsWrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projectBoxes {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    max-height: fit-content;
    width: 25%;
    margin: 2rem;
    padding: 0.5rem;
    font-family: Nunito;
    background-color: var(--codeEditorGray);
    border-radius: 0.5rem;
    transition: ease-in-out 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
}
.project:hover {
    transform: scale(1.05);
}
.project h2 {
    color: var(--seaGreen);
    background: var(--backgroundGray);
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    align-items: center;
}
.project p {
    color: var(--lightLightBlue);
}
.project h3 {
    color: var(--lightBlue);
    margin-bottom: 0.25rem;
}
.project a {
    color: var(--darkPurple);
    background-color: var(--lightPurple);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.project a:hover {
    background-color: var(--lightLightPurple);
    border-color: var(--lightPurple);
}

.description {
    text-align: center;
    margin: 0.75rem;
}

.languageDisplay {
    background-color: var(--backgroundGray);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}

.projectLink {
    padding-bottom: 0.5rem;
}

.projectBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    padding: 0.5rem;
    flex-wrap: wrap;
}

footer {
    position: relative;
    height: fit-content;

    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    margin-top: 3rem;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--codeEditorGray);
    border-top: 0.1rem solid var(--borderColor);
    font-family: Nunito;
}

.footerButtons button {
    width: 4.5rem;
    height: 4.5rem;
}

.textBoxNoBackground {
    /* dimensions */
    min-width: fit-content;
    max-width: 15rem;
    padding: 1rem;

    /* positioning */
    margin-right: 2rem;

    /* appearance toggles */
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--lightLightBlue);
    text-align: center;
    transition: ease-in-out 0.5s;
}

#rightHalfFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrowUp {
    rotate: 180deg;
    margin-right: 2rem;
    transform: translateY(-1rem);
}